/* Container styles */
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #39440ee2;
  background-image: url("/images/image2.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #efe8e8 !important;
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed for responsiveness */
  transition: transform 0.3s;
}

.container:hover {
  transform: scale(1.02); /* Add a scale effect on hover for a 3D effect */
}

/* Input field styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Label styles */
label {
  font-weight: bold;
}

/* Button styles */
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-add {
  background-color: #03492c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  flex: 0.5;
}
.button-reset {
  background-color: #ca1268;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  flex: 0.5;
}

.button-add:hover {
  background-color: #10df14;
}
.button-reset:hover {
  background-color: rgb(235, 41, 41);
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .head {
    flex-direction: column;
  }

  .container {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
